*{
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    grid-area: he;
}

nav{
    grid-area: na;
    background-color: rgb(0, 135, 104);
    padding: 20px;
}

nav>a{
    color: rgb(96, 201, 190);
    text-decoration: none;
}

#baltartalom2{
    grid-area: ba;
}

#jobbtartalom{
    grid-area: jo;
}

footer{
    grid-area: fo;
    color: rgb(0, 135, 104);
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-areas:
    'he he'
    'na na'
    'ba jo'
    'fo fo'
    ;
}

.arckep{
    /* 100% a rendelkezésre álló rész 100%-át kitölti */
    width: 100%;
    height: auto;
}

.autok{
    width: 100%;
    height: auto;
}

h1{
    color: rgb(0, 135, 104);
}

#jobbtartalom>img{
    border-radius: 5px;
    border: grey 2px solid;
    /* Kereten kívüli távolság beállítása */
    margin: 0px;
}

.kozep{
    /* Elemek kijelzése egymás alatt legyen*/
    display: block;
}

.kozep, .ures, #baltartalom2>h2{
    border: grey 1px solid;
    border-radius: 5px;
}

#baltartalom2>h2, .ures{
    background-color: lightgrey;
}

#baltartalom2>h2{
    color: rgb(0, 135, 104);
    font-size: 80%;
    font-weight: normal;
}

ol{
    margin-left: 25px;
}

ol>li{
    text-align: justify;
}